#img_logo {
}

#p_subtitle {
    margin-top: -5px;
    font-size: 14px;
}

#div_main {
    margin-left: 10px;
    margin-right: 10px;
}

#div_header {
    /*    border-bottom: 1px solid grey;
     */
}

#div_menu {
    margin-bottom: -12px;
}

#div_menu li {
    color: white;
    font-size: 16px;
    text-align: center;
    background-color: grey;
    display: inline;
    list-style-type: none;
    font-weight: bold;
    margin-right: 4px;
}

#div_menu ul {
    padding-left: 0px;
}

#div_menu li a {
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    color: white;
}

#div_menu li a:hover {
    background-color: blue;
}

#div_content {
    border: 2px solid black;
    margin-top: 0px;
    padding: 4px;
    overflow: auto;
}

body, p, div, li {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
}

#div_menu li a.selected_menu {
    color: black;
    background-color: white;
    border: 2px solid black;
    border-bottom: 2px solid white;
    margin-right: -5px;
}

.div_list_row {
	clear:both;
	border: 4px solid black;
	margin: 4px;
}

.div_list_image {
	min-width: 240px;
	text-align: center;
	display:inline-block;
    margin: 2px;
}

.div_list_content {
	vertical-align:top;
	display:inline-block;
}

.div_list_description {
	font-size:16px;
}

.img_list_scaled {
    max-width: 240px;
    max-height: 320px;
	border: none;
}
